.input-box {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.input-fields {
  display: inline-block;
  text-align: left;
}

.input-buttons {
  margin-top: 20px;
}

button {
  width: 100px;
  height: 30px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: darkblue;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/main.png");
}

.play {
  width: 50%;
  height: 100%;
  background-image: url("images/green_felt.png");
  background-color: green;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.table {
  height: 80%;
}

.player-cards {
  display: flex;
  height: 20%;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: 100%;
  gap: 2px;
}

.cards {
  display: flex;
  align-items: center;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 10%;
  margin-bottom: 15px;
}

.card-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0;
}

.players-container {
  display: flex;
  width: 100%;
  height: 15%;
  margin-top: 10%;
  align-items: center;
  justify-content: space-between;
}

.player {
  width: 12%;
  background-color: red;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.self-container {
  width: 12%;
  background-color: red;
  height: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 35%;
}

.self {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
